<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Your Website - Page 1</title>
</head>
<body>
    <div class="page">
    <header>
        <a href="index.html"><img src="logo.png" alt="Logo" class="logo"></a>
        <h1 class="title">Fetch Assessment</h1>
    </header>
    <div class="frame">
        <div class="text-box">
            <p>Welcome to website development part of the assessment for the role of Machine Learning Engineer. </p>
        </div>
    </div>
    <div class="frame">
       <div class="text-box">
            <p>Please click on the next page button to look for the predicted data for the year 2022.</p> 
        </div>
    </div>
    <div class="frame">
        <!-- Content for frame 3 -->
        <a href="page2.html" class="next-button">Next Page</a>
    </div>
</div>
</body>
</html>
